$primary-color: #4569AC;
$secondary-color: #5CA7EB;
$font-stack:    Helvetica, sans-serif;

.contianer-fluid {
    height: 100vh;
}

.login-background {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6448ea+0,5ca7eb+100 */
    background: #6448ea; /* Old browsers */
    background: -moz-linear-gradient(left, #6448ea 0%, #5ca7eb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #6448ea 0%,#5ca7eb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #6448ea 0%,#5ca7eb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6448ea', endColorstr='#5ca7eb',GradientType=1 ); /* IE6-9 */
    height: 100vh;
    position: relative;
}

.pg-text {
    max-width: 250px;
}

.pos-logo-mobile {
    width: 150px;
    height: 80px;
    display: none;
}

.card-title {
  font: $font-stack;
  font-size: 30px;
}

.card-signin {
  border: 0;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 10px;
  height: 50px;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
  background-color: $primary-color;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  border-radius: 10px;
  height: 50px;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

/*------------------------------------------------------------------
[ Responsive ]*/

// @media (max-width: 992px) {
//     .login-form {
//       width: 50%;
//       padding-left: 30px;
//       padding-right: 30px;
//     }
  
//     .login-background {
//       width: 50%;
//     }
//   }
  
  @media (max-width: 768px) {
    .login-form {
      width: 100%;
    }
  
    .login-background {
      display: none;
    }
    .pos-logo-mobile {
        display: inline;
    }
  }
  
  @media (max-width: 576px) {
    .login-form {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 70px;
    }
    .pos-logo-mobile {
      display: inline;
    }
  }
  