<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 col-lg-6 col-md-4 login-background">
      <img class="pos-logo mt-5 ml-4" src="/assets/img/Percent-POS-white.png" width="150px" alt="">
      <p class="pg-text text-white mt-3 ml-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolor officia quisquam ducimus fugit labore eos, natus veniam nihil animi praesentium ipsa voluptatum tenetur dolore placeat non possimus dolorem molestias.</p>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
      <div class="d-flex justify-content-center">
        <img class="pos-logo-mobile mt-5" src="/assets/img/Percent POS logo_small.png" alt="">
      </div>
      <form class="login-form">
        <h3 class="login-title p-b-43">
          Login
        </h3>
        <p>Please enter your user name and password to login</p>
        <div class="login-items">
            <input type="username" class="login-input ml-3" placeholder="USERNAME">
        </div> 
        
        <div class="login-items">
            <input type="password" class="login-input ml-3" placeholder="PASSWORD">
        </div> 

        <div class="container-login-form-btn my-4">
          <button class="login100-form-btn">
            Login
          </button>
        </div>

        <div class="flex-sb-m w-full p-t-3 p-b-32 mb-3">
          <div>
            <a href="#" class="txt1">
              Forgot Password?
            </a>
          </div>
          <div>
              <a href="#" class="txt1">
                Register
              </a>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
