<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 col-lg-6 col-md-4 login-background">
      <img class="pos-logo mt-5 ml-4" src="/assets/img/Percent-POS-white.png" width="150px" alt="">
      <p class="pg-text text-white mt-3 ml-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolor officia quisquam ducimus fugit labore eos,
        natus veniam nihil animi praesentium ipsa voluptatum tenetur dolore placeat non possimus dolorem molestias.</p>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-4 mx-auto">
      <div class="card card-signin my-5">
          <img class="pos-logo-mobile mx-auto" src="/assets/img/Percent POS logo_small.png" alt="">
        <div class="card-body">
          <h5 class="card-title mb-2">Register</h5>
          <p>Please fill out form to register</p>
          <form class="form-signin">
            <div class="form-label-group">
              <input type="" id="inputEmail" class="form-control" placeholder="USERNAME" required autofocus>
            </div>

            <div class="form-label-group">
              <input type="password" id="" class="form-control" placeholder="PASSWORD" required>
            </div>
            <button class="btn btn-lg btn-block text-uppercase text-white" type="submit">Register</button>
            <div class="text 1 mt-3">
              <a href="">Forgot Password?</a>
            </div>
            <div class="text 1 mt-3">
              <a href="" routerLink="/register">Register</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>